.about-us {
  @include container;
}

.about-us__header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.about-us__persons,
.about-us__work {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $salad-600-transparent-4;
    height: 180px;
    width: 100%;
    z-index: -2;
    top: 80px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 30px;
      width: 50%;
      height: 280px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 10%;
    }
  }
}

.about-us__work {
  @media (min-width: $tablet-width) {
    &::before {
      right: 0;
    }
  }
}

.about-us__subject-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    text-align: left;
  }
}

.about-us__persons-image,
.about-us__work-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about-us__persons-image {
  position: relative;
  z-index: -1;

  @media (min-width: $desktop-width) {
    margin-left: 250px;
  }
}

.about-us__work-image {
  @media (min-width: $desktop-width) {
    margin-right: 250px;
  }
}

.about-us__persons-inner,
.about-us__work-inner {
  background-color: $white;
  padding: 16px 20px;

  @media (min-width: $tablet-width) {
    padding: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 48px;
  }
}

.about-us__persons-inner {
  margin: 0 auto 16px auto;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 460px;
    margin-top: -180px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
  }
}

.about-us__work-inner {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-right: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 460px;
    margin-top: -180px;
  }
}

.about-us__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}
