.about-us {
  @include container;
}

.about-us__header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.about-us__persons,
.about-us__work {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $salad-600-transparent-4;
    height: 190px;
    width: 100%;
    z-index: -2;
    top: 41px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 48px;
      width: 209px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 153px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    &::before {
      width: 195px;
    }
  }
}

.about-us__persons {
  @media (min-width: $tablet-width) {
    &::before {
      height: 357px;
    }
  }
}

.about-us__work {
  @media (min-width: $tablet-width) {
    &::before {
      right: 0;
      height: 333px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      margin-right: 0;
    }
  }

  @media (min-width: $wide-desktop-width) {
    &::before {
      margin-right: 0;
    }
  }
}

.about-us__subject-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 9px 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: left;
  }

   @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.about-us__subject-header--work {
  margin: -1px 0 9px -3px;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 2px 0 22px 0;
  }
}

.about-us__persons-image,
.about-us__work-image {
  position: relative;
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  width: 280px;
  height: 214px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about-us__persons-image {
  @media (min-width: $tablet-width) {
    width: 448px;
    height: 314px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 85px;
    width: 433px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 528px;
    height: 357px;
  }
}

.about-us__work-image {
  @media (min-width: $tablet-width) {
    width: 448px;
    height: 302px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 85px;
    width: 433px;
    height: 302px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 528px;
    height: 333px;
    margin-right: 85px;
  }
}

.about-us__persons-inner,
.about-us__work-inner {
  background-color: $white;
  padding: 16px 20px;
  box-shadow: 10px 10px 35px $gray-250-transparent-1;

  @media (min-width: $wide-desktop-width) {
    padding: 48px;
  }
}

.about-us__persons-inner {
  margin: 0 auto 16px auto;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
    margin-top: -44px;
    margin-bottom: 40px;
    padding: 31px 25px 25px 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 457px;
    margin-top: -267px;
    margin-bottom: 38px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
    margin-left: 580px;
    margin-top: -310px;
  }
}

.about-us__work-inner {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-right: 64px;
    margin-top: -31px;
    padding: 30px 25px 25px 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 460px;
    margin-top: -255px;
    width: 609px;
    padding-left: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 580px;
    margin-top: -290px;
  }
}

.about-us__text {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.about-us__text--work {
  line-height: 24px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
