.button {
  font-weight: 500;
  line-height: 32px;
  border: 1px solid;
  border-radius: 50px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;

  &--offer {
    font-size: 18px;
    padding: 7px 20px 7px 20px;
    width: 280px;
  }

  &--products {
    font-size: 14px;
    padding: 0 20px;
    width: 248px;
  }

  &--salad {
    color: $salad-500;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }

  &--contacts {
    font-size: 16px;
    padding: 7px 20px 7px 20px;
    width: 222px;
    color: $salad-600;
  }

  &--feedback-modal {
    font-size: 18px;
    padding: 7px 20px 7px 20px;
    width: 232px;
    color: $salad-600;
    background-color: $white;
  }
}
