.button {
  font-weight: 500;
  line-height: 32px;
  border: 1px solid;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;

  &--salad {
    color: $salad-500;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }
}
