.close-button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 55px;
    right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
