.container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 1066px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 1500px;
  }
}
