.form label {
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }
}

.form__text-field {
  margin: 0 0 16px 0;
}

.form input,
.form textarea {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid $gray-50;
}

.form input {
  padding: 8px 16px;

  @media (min-width: $tablet-width) {
    padding: 9px 16px 7px 16px;
  }
}

.form textarea {
  padding: 8px 15px;
  height: 124px;
}

.form ::placeholder {
  color: $gray-200;
}
