.logo {
  position: relative;
  z-index: 1;
}

.logo--header {
  &::before {
    content: "";
    position: absolute;
    width: 128px;
    height: 128px;
    top: -20px;
    left: -45px;
    background-color: $salad-500;
    border-radius: 50%;
    z-index: -1;
  }
}
