.main-nav {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__list--header {
  @media (min-width: $desktop-width) {
    margin-left: 121px;
    margin-right: auto;
  }

  @media (min-width: $wide-desktop-width) {
    margin-left: 252px;
    margin-right: auto;
  }
}
