.offer {
  @include container;
  margin-top: 24px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    margin-bottom: 80px;
  }
}

.offer__slider-header {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 16px 0;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--red {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }

  @media (min-width: $tablet-width) {
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 440px;
    text-align: left;
    margin-bottom: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-left: 680px;
    margin-bottom: 33px;
  }
}

.offer__nav-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    &--salad {
      margin-left: 20px;
    }

    &--italian {
      margin-left: -72px;
    }

    &--meat {
      margin-left: -229px;
    }

    &--eastern {
      margin-left: -300px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-left: 440px;
    margin-bottom: 40px;
    justify-content: flex-start;
  }

  @media (min-width: $wide-desktop-width) {
    margin-left: 680px;
  }
}

.offer__nav-item {
  margin-right: 16px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 40px;
  }
}

.offer__nav-item:last-of-type {
  margin-right: 0;
}

.offer__nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid;
  display: block;
  padding: 8px 10px;
  min-width: 143px;
  text-align: center;
  white-space: nowrap;
}

.offer__nav-bar--salad .offer__nav-link {
  color: $salad-200;
  border-color: $salad-200;
}

.offer__nav-bar--italian .offer__nav-link {
  color: $green-200;
  border-color: $green-200;
}

.offer__nav-bar--meat .offer__nav-link {
  color: $red-300;
  border-color: $red-300;
}

.offer__nav-bar--eastern .offer__nav-link {
  color: $brown-400;
  border-color: $brown-400;
}

.offer__nav-link--active {
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
}

.offer__nav-link--active.offer__nav-link--salad {
  color: $salad-800;
  background-color: $salad-200;
}

.offer__nav-link--active.offer__nav-link--italian {
  color: $green-800;
  background-color: $green-200;
}

.offer__nav-link--active.offer__nav-link--meat {
  color: $red-900;
  background-color: $red-300;
}

.offer__nav-link--active.offer__nav-link--eastern {
  color: $brown-700;
  background-color: $brown-300;
}

.offer__slider-list {
  @include container;
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer__slider-item {
  display: none;
}

.offer__slider-item--active {
  display: block;

  @include container;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 440px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: 0 auto 0 680px;
  }
}

.offer__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.offer__slider-link-button:active {
  @media (min-width: $desktop-width) {
    opacity: 0.3;
  }
}

.offer__slider-item--salad .offer__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(320.69deg, $salad-gradient-700 15.36%, $salad-gradient-300 84.86%);
  }
}

.offer__slider-item--italian .offer__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(320.42deg, $green-gradient-700 15.36%, $green-gradient-300 82.23%);
  }
}

.offer__slider-item--meat .offer__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(321.31deg, $red-gradient-800 15.37%, $red-gradient-500 81.98%);
  }
}

.offer__slider-item--eastern .offer__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(324.18deg, $brown-gradient-700 14.36%, $brown-gradient-400 85.34%);
  }
}

.offer__slider-item--salad .offer__slider-image-wrapper {
  &::before,
  &::after {
    background: linear-gradient(320.69deg, $salad-gradient-700 15.36%, $salad-gradient-300 84.86%);
  }
}

.offer__slider-item--italian .offer__slider-image-wrapper {
  &::before,
  &::after {
    background: linear-gradient(320.42deg, $green-gradient-700 15.36%, $green-gradient-300 82.23%);
  }
}

.offer__slider-item--meat .offer__slider-image-wrapper {
  &::before,
  &::after {
    background: linear-gradient(321.31deg, $red-gradient-800 15.37%, $red-gradient-500 81.98%);
  }
}

.offer__slider-item--eastern .offer__slider-image-wrapper {
  &::before,
  &::after {
    background: linear-gradient(324.18deg, $brown-gradient-700 14.36%, $brown-gradient-400 85.34%);
  }
}

.offer__slider-image-wrapper {
  position: relative;
  margin-left: 40px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    box-shadow: 20px 20px 30px $black-100-1;
  }

  &::before {
    width: 240px;
    height: 240px;
    z-index: -1;
    top: 40px;
    left: -10px;
  }

  &::after {
    width: 280px;
    height: 280px;
    opacity: 0.2;
    z-index: -2;
    top: 20px;
    left: -30px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 80px;

    &::before {
      width: 339px;
      height: 339px;
      top: 60px;
      left: 55px;
    }

    &::after {
      width: 393px;
      height: 393px;
      top: 33px;
      left: 27px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &::before {
      width: 339px;
      height: 339px;
      top: -45px;
      left: -450px;
    }

    &::after {
      width: 393px;
      height: 393px;
      top: -72px;
      left: -477px;
    }
  }

  @media (min-width: $wide-desktop-width) {
    &::before {
      width: 481px;
      height: 481px;
      top: -5px;
      left: -640px;
    }

    &::after {
      width: 557px;
      height: 557px;
      top: -40px;
      left: -675px;
    }
  }
}

.offer__slider-image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 267px;
    height: 442px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin: -120px 0 0 -350px;
    width: 287px;
    height: 504px;
  }

  @media (min-width: $wide-desktop-width) {
    margin: -150px 0 0 -500px;
    width: 387px;
    height: 694px;
  }
}

.offer__slider-item-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 8px 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 61px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 64px;
    line-height: 80px;
    text-align: left;
    padding-left: 0;
    max-width: 600px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
  }
}

.offer__slider-text {
  font-weight: 300;
  margin: 0 0 24px 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: left;
    max-width: 600px;
  }

  @media (min-width: $wide-desktop-width) {
    max-width: 600px;
  }
}

.offer__slider-quantity-buttons {
  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content min-content;
  padding: 0;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    justify-content: left;
  }
}

.offer__slider-quantity-button {
  width: 32px;
  height: 32px;
}

.offer__slider-output {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-left: 25px;
  margin-right: 25px;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }
}

.offer__slider-link-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    justify-content: start;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 130px;
  }
}

.offer__slider-link-button {
  white-space: nowrap;
  font-size: 18px;
  padding: 7px 20px 7px 20px;
  min-width: 280px;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 40px;
    padding: 7px 47px 7px 47px;
    min-width: 203px;
  }
}

.offer__slider-link-button:last-of-type {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.offer__slider-control {
  display: none;
}
