.page-main__offer {
  margin-top: 24px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 19px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    margin-bottom: 80px;
  }
}

.page-main__products {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.page-main__about-us {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.page-main__reviews {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 73px;
  }
}

.page-main__payment-and-delivery {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.page-main__contacts {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}
