.page-main__offer  {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 180px;
  }
}

.page-main__products {
  margin-bottom: 40px;
}

.page-main__about-us {
  margin-bottom: 40px;
}

.page-main__reviews {
  margin-bottom: 40px;
}

.page-main__payment-and-delivery {
  margin-bottom: 40px;
}

.page-main__contacts {
  margin-bottom: 40px;
}
