.page-footer {
  background-color: $salad-700;

  @media (min-width: $desktop-width) {
    min-height: 220px;
  }
}

.page-footer__bottom-bar {
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 140px 758px 168px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 1520px;
    display: grid;
    grid-template-columns: 140px 1168px auto;
  }
}

.page-footer__logo {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
    margin-left: 41px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-left: 59px;
  }
}

.page-footer__main-nav {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.page-footer__social {
  align-self: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    margin-left: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
