.page-header {
  margin-bottom: 34px;
}

.page-header__top-bar--opened {
  @media (max-width: $desktop-width) {
    position: relative;
    background-color: $salad-100;
  }
}

.page-header__top-bar--opened .main-nav__list--header {
  @media (max-width: $desktop-width) {
    position: absolute;
    width: 100%;
    top: 97px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $salad-100;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 2px 2px 0 $gray-100;
  }
}

.page-header__logo {
  margin-left: 38px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin-left: 45px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 52px;
    margin-top: 12px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-left: 78px;
    margin-top: 55px;
  }
}

.page-header__top-bar--no-js .page-header__logo {
  @media (max-width: $desktop-width) {
    margin-right: auto;
  }
}

.page-header__top-bar--opened .page-header__logo {
  position: relative;
  z-index: 2;
}

.page-header__top-bar--no-js .page-header__user-nav {
  margin-right: 24px;

  @media (max-width: $desktop-width) {
    margin-left: auto;
  }
}

.page-header__top-bar--no-js .main-nav__list--header {
  width: 320px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }

  @media (max-width: $desktop-width) {
    margin: 30px auto 0 auto;
  }
}

.page-header__top-bar--no-js .page-header__toggle {
  display: none;
}

.page-header__top-bar--closed .page-header__main-nav {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  @include container;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content auto min-content;
  }
}

.page-header__main-nav {
  @media (min-width: $desktop-width) {
    align-self: center;
    order: 2;
  }
}

.page-header__toggle {
  position: relative;
  margin-left: auto;
  margin-right: 24px;
  align-self: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__top-bar--opened .page-header__toggle,
.page-header__top-bar--closed .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $salad-600;
    border-radius: 5px;
  }

  &:hover::before,
  &:hover::after {
    background-color: $gray-500;
  }

  &:active::before,
  &:active::after {
    background-color: $black;
  }
}

.page-header__top-bar--opened .page-header__toggle {
  &::before,
  &::after {
    top: -1px;
    left: 15px;
    width: 1px;
    height: 30px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__top-bar--closed .page-header__toggle {
  &::before {
    top: 7px;
    left: 4px;
    width: 24px;
    height: 1px;
    box-shadow: 0 5px 0 0 $salad-600, 0 10px 0 0 $salad-600, 0 15px 0 0 $salad-600;
  }

  &:hover::before {
    box-shadow: 0 5px 0 0 $gray-500, 0 10px 0 0 $gray-500, 0 15px 0 0 $gray-500;
  }

  &:active::before {
    box-shadow: 0 5px 0 0 $black, 0 10px 0 0 $black, 0 15px 0 0 $black;
  }
}

.page-header__user-nav {
  position: relative;
  margin-top: -7px;
  margin-left: 0;
  margin-right: 24px;
  align-self: center;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.page-header__cart-link-icon path {
  fill: $salad-600;
}

.page-header__cart-link-counter {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 1px;
  top: -41px;
  right: -20px;
  height: 16px;
  width: 16px;
  background-color: $red-500;
  border-radius: 50%;
  color: $white;
  font-size: 12px;
  line-height: 14px;
}
