.page__body {
  min-height: 100%;
  margin: 0;
}

.page__body--modal>*:not(.feedback-modal):not(.modal):not(.shopping-cart) {
  position: relative;
  filter: blur(25px);

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: $black-100-6;
  }
}
