.products__slider {
  @include container;
  overflow: hidden;
}

.products__slider-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.products__slider-item {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 329px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 360px;
  }
}

.products__slider-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  list-style: none;
  padding: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  @media (min-width: $wide-desktop-width) {
    grid-column-gap: 20px;
  }
}

.products__slider-item-header {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 0;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }
}

.products__slider-content {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.products__slider-composition {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.products__slider-composition span {
  font-weight: 400;
}

.products__slider-quantity-buttons {
  margin: 0;
}

.products__slider-quantity-button {
  width: 24px;
  height: 24px;
}

.products__slider-output {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.products__slider-price-number {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.products__slider-price-number span {
  font-weight: 500;
  font-size: 24px;
}

.products__slider-output--salad,
.products__slider-price-number--salad {
  color: $salad-600;
}

.products__slider-output--italian,
.products__slider-price-number--italian {
  color: $green-500;
}

.products__slider-output--meat,
.products__slider-price-number--meat {
  color: $red-500;
}

.products__slider-output--eastern,
.products__slider-price-number--eastern {
  color: $brown-500;
}

.products__slider-volume-number {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
}
