.products {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 76px;
  }
}

.products__slider {
  @include container;
}

.products__slider-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 32px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 48px;
    line-height: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 106px;
    margin-left: 17px;
  }
}

.products__slider-item {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 10px 35px $gray-250-transparent-1;

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 576px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-height: 609px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-left: 20px;
    padding-right: 18px;
    min-height: 580px;
  }
}

.products__slider-item:first-of-type {
  display: flex;
}

.products__slider-item:nth-of-type(2) {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.products__slider-item:hover .products__slider-image,
.products__slider-item:focus-within .products__slider-image {
  @media (min-width: $desktop-width) {
    transform: scale(1.28) rotate(10deg);
  }
}

.products__slider-image-wrapper {
  align-self: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    height: 214px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 13px;
    height: 241px;
  }
}

.products__slider-item:hover .products__slider-image-wrapper,
.products__slider-item:focus-within .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      box-shadow: 20px 20px 30px $black-100-1;
    }

    &::before {
      width: 155px;
      height: 155px;
      left: -47px;
      top: 30px;
      z-index: 0;
    }

    &::after {
      width: 173px;
      height: 173px;
      opacity: 0.2;
      left: -56px;
      top: 21px;
      z-index: -1;
    }
  }

  @media (min-width: $wide-desktop-width) {
    &::before {
      width: 252px;
      height: 252px;
      left: -100px;
      top: 6px;
    }

    &::after {
      width: 284px;
      height: 284px;
      left: -115px;
      top: -10px;
    }
  }
}

.products__slider-item:hover .products__slider-link-button:hover,
.products__slider-item:focus-within .products__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.products__slider-item:active .products__slider-link-button:hover {
  @media (min-width: $desktop-width) {
    opacity: 0.6;
  }
}

.products__slider-item:hover .button--salad:hover,
.products__slider-item:focus-within .button--salad:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(320.69deg, $salad-gradient-700 15.36%, $salad-gradient-300 84.86%);
  }
}

.products__slider-item:hover .button--italian:hover,
.products__slider-item:focus-within .button--italian:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(320.42deg, $green-gradient-700 15.36%, $green-gradient-300 82.23%);
  }
}

.products__slider-item:hover .button--meat:hover,
.products__slider-item:focus-within .button--meat:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(321.31deg, $red-gradient-800 15.37%, $red-gradient-500 81.98%);
  }
}

.products__slider-item:hover .button--eastern:hover,
.products__slider-item:focus-within .button--eastern:hover {
  @media (min-width: $desktop-width) {
    background: linear-gradient(324.18deg, $brown-gradient-700 14.36%, $brown-gradient-400 85.34%);
  }
}

.products__slider-item--salad .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(320.69deg, $salad-gradient-700 15.36%, $salad-gradient-300 84.86%);
    }
  }
}

.products__slider-item--italian .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(320.42deg, $green-gradient-700 15.36%, $green-gradient-300 82.23%);
    }
  }
}

.products__slider-item--meat .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(321.31deg, $red-gradient-800 15.37%, $red-gradient-500 81.98%);
    }
  }
}

.products__slider-item--eastern .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(324.18deg, $brown-gradient-700 14.36%, $brown-gradient-400 85.34%);
    }
  }
}

.products__slider-list {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 329px);
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 244px);
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: repeat(4, 360px);
    column-gap: 20px;
  }
}

.products__slider-image {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  padding-left: 0;
  transition: 0.8s;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-right: 4px;
    height: initial;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: -4px;
    padding-left: 20px;
  }
}

.products__slider-item:nth-of-type(1) .products__slider-image {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: -6px;
    padding-left: 2px;
  }
}

.products__slider-item:hover .products__slider-image,
.products__slider-item:focus-within .products__slider-image {
  @media (min-width: $tablet-width) {
    filter: drop-shadow(4px 10px 10px $black-100-transparent-25);
  }
}

.products__slider-item:nth-of-type(1) .products__slider-image {
  @media (max-width: $tablet-width) {
    filter: drop-shadow(4px 10px 10px $black-100-transparent-25);
  }
}

.products__slider-item:nth-of-type(2) .products__slider-image {
  @media (min-width: $tablet-width) {
    margin-top: -8px;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-left: 4px;
  }

  @media (min-width: $wide-desktop-width) {
    padding-left: 20px;
  }
}

.products__slider-item-header {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 0 0 9px 0;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }

  @media (min-width: $tablet-width) {
    margin-top: -14px;
    margin-bottom: 18px;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    margin-left: 1px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-left: 12px;
    margin-bottom: 17px;
  }
}

.products__slider-content {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 16px 0;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 15px;
    padding-left: 6px;
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 14px;
    line-height: 18px;
    padding-left: 12px;
  }
}

.products__slider-composition {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 21px 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 15px;
    padding-left: 2px;
    padding-right: 0;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: auto;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
    padding-left: 12px;
  }
}

.products__slider-item:nth-of-type(1) .products__slider-composition {
  @media (min-width: $wide-desktop-width) {
    margin-top: -8px;
    margin-bottom: 32px;
  }
}

.products__slider-item:nth-of-type(3) .products__slider-composition {
  @media (min-width: $desktop-width) {
    margin-top: -8px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 0;
  }
}

.products__slider-desktop-spacer {
  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 0;
  }
}

.products__slider-composition span {
  font-weight: 400;
}

.products__slider-inner {
  display: grid;
  row-gap: 11px;
  min-width: 134px;
  margin-bottom: 23px;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -1px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 0;
    margin-left: 14px;
    min-width: 312px;
    margin-bottom: 23px;
  }
}

.products__slider-quantity-buttons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: min-content min-content min-content;
  padding: 0;
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  @media (max-width: $mobile-width) {
    margin-left: 23px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 auto;
  }

  @media (min-width: $wide-desktop-width) {
    grid-column: 1 / 2;
    margin: 0 auto 0 0;
  }
}

.products__slider-quantity-button {
  width: 24px;
  height: 24px;
}

.products__slider-output {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin-right: 16px;
  margin-left: 17px;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }
}

.products__slider-volume-number {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  margin: 0 0 0 1px;
  padding-top: 3px;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: 80px;
    margin-top: -1px;
  }
}

.products__slider-price-number {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 0 16px;
  grid-row: 2 / 3;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }

  @media (min-width: $wide-desktop-width) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin: -1px 0 0 auto;
  }
}

.products__slider-price-number span {
  font-weight: 500;
  font-size: 24px;
  margin-right: 4px;
}

.products__slider-link-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
    margin-right: 2px;
  }

  @media (min-width: $wide-desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 42px;
    margin-right: 0;
    margin-left: 14px;
  }
}

.products__slider-link-button {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding: 0 10px;
  width: 248px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 212px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 146px;
    margin-bottom: 0;
  }
}

.products__slider-link-button:last-of-type {
  margin-bottom: 0;
}

.products__toggles {
  padding: 0 0 0 5px;
  width: 40%;
  margin: 24px auto 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
