.products__slider {
  @include container;
  overflow: hidden;
}

.products__slider-header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 32px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 60px;
  }
}

.products__slider-item {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 329px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 360px;
  }
}

.products__slider-item:hover .products__slider-image,
.products__slider-item:focus-within .products__slider-image {
  @media (min-width: $desktop-width) {
    transform: scale(1.5    ) rotate(10deg);
    transition: 0.8s;
  }
}

.products__slider-image-wrapper {
  align-self: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 40px;
  }
}

.products__slider-item:hover .products__slider-image-wrapper,
.products__slider-item:focus-within .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      box-shadow: 20px 20px 30px $black-100-1;
    }

    &::before {
      width: 155px;
      height: 155px;
      left: -52px;
      top: 10px;
      z-index: 0;
    }

    &::after {
      width: 173px;
      height: 173px;
      opacity: 0.2;
      left: -61px;
      top: 1px;
      z-index: -1;
    }
  }

  @media (min-width: $wide-desktop-width) {
    &::before {
      width: 252px;
      height: 252px;
      left: -90px;
      top: -14px;
    }

    &::after {
      width: 284px;
      height: 284px;
      left: -105px;
      top: -30px;
    }
  }
}

.products__slider-item--salad .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(320.69deg, $salad-gradient-700 15.36%, $salad-gradient-300 84.86%);
    }
  }
}

.products__slider-item--italian .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(320.42deg, $green-gradient-700 15.36%, $green-gradient-300 82.23%);
    }
  }
}

.products__slider-item--meat .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(321.31deg, $red-gradient-800 15.37%, $red-gradient-500 81.98%);
    }
  }
}

.products__slider-item--eastern .products__slider-image-wrapper {
  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      background: linear-gradient(324.18deg, $brown-gradient-700 14.36%, $brown-gradient-400 85.34%);
    }
  }
}

.products__slider-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  list-style: none;
  padding: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  @media (min-width: $wide-desktop-width) {
    grid-column-gap: 20px;
  }
}

.products__slider-image {
  width: 100%;
  height: 184px;
  object-fit: cover;

  @media (min-width: $wide-desktop-width) {
    height: 241px;
  }
}

.products__slider-item-header {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 0;

  &--salad {
    color: $salad-600;
  }

  &--italian {
    color: $green-500;
  }

  &--meat {
    color: $red-500;
  }

  &--eastern {
    color: $brown-500;
  }
}

.products__slider-content {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.products__slider-composition {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.products__slider-composition span {
  font-weight: 400;
}

.products__slider-quantity-buttons {
  margin: 0;
}

.products__slider-quantity-button {
  width: 24px;
  height: 24px;
}

.products__slider-output {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

.products__slider-price-number {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.products__slider-price-number span {
  font-weight: 500;
  font-size: 24px;
}

.products__slider-output--salad,
.products__slider-price-number--salad {
  color: $salad-600;
}

.products__slider-output--italian,
.products__slider-price-number--italian {
  color: $green-500;
}

.products__slider-output--meat,
.products__slider-price-number--meat {
  color: $red-500;
}

.products__slider-output--eastern,
.products__slider-price-number--eastern {
  color: $brown-500;
}

.products__slider-volume-number {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
}

.products__slider-link-button {
  font-size: 14px;
  padding: 0 20px;
  min-width: 248px;
}
