.quantity-button {
  border: 1px solid $gray-300-transparent-5;
  border-radius: 8px;
  font-weight: 300;
  line-height: 32px;
  background-color: $white;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &--offer {
    font-size: 24px;
  }

  &--products {
    font-size: 16px;
  }
}
