.reviews__header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}

.reviews__toggles {
  margin: 0;
}

.reviews__controls {
  margin: 0;
}
