.reviews {
  @include container;
  margin-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-top: 75px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 73px;
  }
}

.reviews__header {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 11px;
  }
}

.reviews__list {
  display: grid;
  grid-template-columns: 320px auto auto;
  list-style: none;
  padding: 0;
  margin: -1px 0 0 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-template-columns: 330px 330px auto;
    column-gap: 30px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 335px 335px 335px;
  }

  @media (min-width: $wide-desktop-width) {
    grid-template-columns: 487px 486px 487px;
    grid-column-gap: 20px;
  }
}

.reviews__image {
  display: block;
  width: 350px;
  height: 455px;
  object-fit: cover;
  filter: drop-shadow(10px 10px 35px $gray-250-transparent-1);
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 525px;
  }

  @media (min-width: $desktop-width) {
    width: 405px;
    height: 531px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 557px;
    height: 739px;
  }
}

.reviews__toggles {
  position: relative;
  z-index: 2;
  margin: -30px 0 0 -3px;

  @media (min-width: $tablet-width) {
    margin: -29px 0 0 2px;
  }
}
