.site-list__link {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;

  &--header {
    color: $salad-600;
  }

  &--footer {
    color: $white;
  }

  &:hover {
    color: $gray-500;
  }

  &:active {
    color: $red-500;
  }

  @media (min-width: $desktop-width) {
    &--header {
      font-family: "El Messiri", sans-serif;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.site-list__item {
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    margin-right: 65px;
    margin-bottom: 0;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 88px;
  }
}

.site-list__item--footer {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-right: 88px;
  }
}

.site-list__item--footer:last-of-type {
  margin-right: 0;
}
