.social__list {
  list-style: none;
  margin: 0 0 0 32px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.social__item {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.social__icon path {
  fill: $white;
}

.social__item:hover path {
  fill: $gray-500;
}

.social__item:active path {
  fill: $black;
}
