$gray-50: #d6d6d6;
$gray-100: #d9d9d9;
$gray-200: #bfbfbf;
$gray-300: #949494;
$gray-300-transparent-5: rgba(148, 148, 148, 0.5);
$gray-500: #4a4a4a;

$white: #ffffff;

$salad-100: #edf4d2;
$salad-200: #bfd087;
$salad-200-transparent-8: rgba(191, 208, 135, 0.8);
$salad-300-transparent-25: rgba(228, 235, 206, 0.25);
$salad-500: #7da00c;
$salad-600: #688800;
$salad-600-transparent-2: rgba(104, 136, 0, 0.2);
$salad-600-transparent-4: rgba(104, 136, 0, 0.4);
$salad-700: #728536;
$salad-800: #546b06;

$salad-gradient-300: #97c20b;
$salad-gradient-700: #536614;

$green-200: #8bdfb4;
$green-300: #69d49e;
$green-500: #009246;
$green-800: #116137;


$green-gradient-300: #00db69;
$green-gradient-400: #0fc666;
$green-gradient-600: #007639;
$green-gradient-700: #076534;

$red-300: #e8847e;
$red-500: #d73a31;
$red-900: #73120d;

$red-gradient-400: #d9554e;
$red-gradient-500: #e84239;
$red-gradient-700: #b41e15;
$red-gradient-800: #99160e;

$brown-300: #f4b979;
$brown-400: #f1a757;
$brown-500: #e67f10;
$brown-700: #bd690d;

$brown-gradient-300: #f7a956;
$brown-gradient-400: #ff9d34;
$brown-gradient-700: #ba6400;
$brown-gradient-600: #cd700b;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$wide-desktop-width: 1920px;
